{% include '../blocks/block-newsletter.twig' %}

<footer class="footer-section">
	<div class="footer-top position-relative"><img class="footer-shape" src="assets/img/footer/1.png" alt="shape"><div class="container">
			<div class="row mb-n7">
				<div class="col-lg-3 col-sm-6 mb-7">
					<div class="footer-widget">
						<a class="footer-logo mb-9" href="/"><img class="logo-main" src="assets/img/logo/logo-footer.png" alt="Logo"></a>
						<p>Pleasure rationally encounter consequences that extremely painful. Nor again is there</p>
						<ul class="footer-social-links">
							<li>
								<a class="footer-social-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
									<i class="icofont-facebook"></i>
								</a>
							</li>
							<li>
								<a class="footer-social-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
									<i class="icofont-instagram"></i>
								</a>
							</li>
							<li>
								<a class="footer-social-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
									<i class="icofont-twitter"></i>
								</a>
							</li>
							<li>
								<a class="footer-social-link" href="https://www.whatsapp.com/" target="_blank" rel="noopener noreferrer">
									<i class="icofont-whatsapp"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mb-7 offset-xl-1">
					<div class="footer-widget">
						<h4 class="title">Quick Link</h4>
						<ul class="footer-menu">
							<li>
								<a class="footer-link" href="/about">About us</a>
							</li>
							<li>
								<a class="footer-link" href="/service">Pricing Plan</a>
							</li>
							<li>
								<a class="footer-link" href="/about">Conditions</a>
							</li>
							<li>
								<a class="footer-link" href="/blog">Blog Post</a>
							</li>
							<li>
								<a class="footer-link" href="/team">Our Clients</a>
							</li>
							<li>
								<a class="footer-link" href="/contact">Contact us</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-sm-6 mb-7">
					<div class="footer-widget">
						<h4 class="title">Services</h4>
						<ul class="footer-menu">
							<li>
								<a class="footer-link" href="/service-details/2">Business Plan</a>
							</li>
							<li>
								<a class="footer-link" href="/service-details/3">Creative Strategy</a>
							</li>
							<li>
								<a class="footer-link" href="/service-details/4">Branding
								</a>
							</li>
							<li>
								<a class="footer-link" href="/service-details/1">Digital Solution</a>
							</li>
							<li>
								<a class="footer-link" href="/service-details/5">Marketing Policy</a>
							</li>
							<li>
								<a class="footer-link" href="/service-details/6">Campaign &amp; PR</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mb-7">
					<div class="footer-widget">
						<h4 class="title">Contact info</h4>
						<p>245 Southern Street, Apt. 147 New York, USA</p>
						<ul class="address">
							<li>
								<a class="address-link" href="tel:+12354569874">+12354 569 874</a>
							</li>
							<li>
								<a class="address-link" href="tel:+98745612398">+98745 612 398</a>
							</li>
							<li>
								<a class="address-link" href="mailto:info@example.com">info@example.com</a>
							</li>
							<li>
								<a class="address-link" href="mailto:info@example.com">www.example.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-right-section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="copyright-info text-center">
						<p>Copyright © 2021 Made with</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
