<header class="header-section sticky-header ">
	<div class="container">
		<div class="row align-items-center">
			<div class="col">
				<div class="header-logo">
					<a class="d-block" href="/"><img class="logo-main" src="assets/img/logo.png" alt="Logo"></a>
				</div>
			</div>
			<div class="col text-end">
				<nav class="main-menu d-none d-lg-block">
					<ul class="d-flex">
						<li>
							<a aria-current="page" class="active" href="/">Home</a>
						</li>
						<li>
							<a href="/about.html">About</a>
						</li>
						<li>
							<a href="/service.html">Service</a>
							<ul class="sub-menu">
								<li class="sub-menu-item">
									<a class="sub-menu-link" href="/service.html">Service</a>
								</li>
								<li class="sub-menu-item">
									<a class="sub-menu-link" href="/service-details/1">single
										                                        service</a>
								</li>
							</ul>
						</li>
						<li>
							<a aria-current="page" class="active" href="/">Pages</a>
							<ul class="sub-menu">
								<li class="sub-menu-item">
									<a class="sub-menu-link" href="/faq.html">faq</a>
								</li>
								<li class="sub-menu-item">
									<a class="sub-menu-link" href="/team.html">team</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/blog.html">Blog</a>
							<ul class="sub-menu">
								<li class="sub-menu-item">
									<a class="sub-menu-link" href="/blog.html">Blog</a>
								</li>
								<li class="sub-menu-item">
									<a class="sub-menu-link" href="/blog-left-sidebar.html">blog grid
										                                        left sidebar</a>
								</li>
								<li class="sub-menu-item">
									<a class="sub-menu-link" href="/blog-right-sidebar.html">blog grid
										                                        right sidebar</a>
								</li>
								<li class="sub-menu-item">
									<a class="sub-menu-link" href="/blog-details/1">blog
										                                        details</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/contact.html">Contact</a>
						</li>
					</ul>
				</nav>
				<button class="toggle">
					<span class="icon-top"></span>
					<span class="icon-middle"></span>
					<span class="icon-bottom"></span>
				</button>
			</div>
		</div>
	</div>
</header>
{% include "../includes/menu-mobile.twig" %}

