<div class="offcanvas-modal ">
	<div class="offcanvas-dialog">
		<div class="menu-content">
			<div class="offcanvas-header">
				<a class="offcanvas-logo d-inline-block" href="/">
				<img class="logo-main" src="assets/img/logo.png" alt="Logo"></a>
				<button type="button" class="btn-close"></button>
			</div>
			<nav id="offcanvasNav" class="offcanvas-menu">
				<ul>
					<li>
						<a href="">Home</a>
					</li>
					<li>
						<a  class="active" href="about.html">About</a>
					</li>
					<li>
						<a href="service.html">Service</a>
						<span class="menu-expand" aria-hidden="true"></span>
						<ul>
							<li><a href="service">service</a></li>
							<li><a href="service-details/1">single service</a></li>
						</ul>
					</li>
					<li>
						<a aria-current="page" class="active" href="/">Pages</a>
						<span class="menu-expand" aria-hidden="true"></span>
						<ul>
							<li><a href="faq.html">faq</a></li>
							<li><a href="team">team</a></li>
						</ul>
					</li>
					<li>
						<a href="blog.html">Blog</a>
						<span class="menu-expand" aria-hidden="true"></span>
						<ul>
							<li><a href="blog.html">blog</a></li>
							<li><a href="blog-left-sidebar.html">blog grid left sidebar</a></li>
							<li><a href="blog-right-sidebar.html">blog grid right sidebar</a></li>
							<li><a href="blog-details/1">blog details</a></li>
						</ul>
					</li>
					<li>
						<a href="contact">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
