<section class="contact-section section-py">
	<div class="container">
		<div class="row mb-n7">
			<div class="col-xl-6 col-lg-6 mb-7">
				<div class="contact-title-section">
					<h3 class="title">Get in touch</h3>
					<p>Top rated construction packages we pleasure rationally encounter<br class="d-none d-xl-block">consequences interesting who loves or pursue or desires</p>
				</div>
				<form id="contactForm" class="row" action="https://getform.io/f/a17a2715-d7ee-4ac4-8fcb-12f1eed43b2c" method="POST">
					<div class="col-12 col-sm-6 mb-7"><input type="text" class="form-control" id="name" name="name" placeholder="Your Name*"></div>
					<div class="col-12 col-sm-6 mb-7"><input type="text" class="form-control" id="email" name="email" placeholder="Your Email*"></div>
					<div class="col-12 mb-9">
						<textarea class="form-control massage-control" name="message" id="massage" cols="30" rows="10" placeholder="Message"></textarea>
					</div>
					<div class="col-12">
						<button id="contactSubmit" type="submit" class="btn btn-dark btn-hover-dark" data-complete-text="Well Done!">Send Message</button>
					</div>
				</form>
			</div>
			<div class="col-xl-5 col-lg-6 mb-7 offset-xl-1">
				<div class="contact-address text-center">
					<div class="address-list mb-4 mb-xl-10 pb-2">
						<h4 class="title">Office Addres</h4>
						<p>245 Southern Street, Apartment no. 174 Central Twon, New Yourk, USA</p>
					</div>
					<div class="address-list mb-4 mb-xl-10 pb-2">
						<h4 class="title">Phone Number</h4>
						<p>+12345 678 987
							<br>
							+98745 612 321</p>
					</div>
					<div class="address-list">
						<h4 class="title">Web Address</h4>
						<p>info@example.com
							<br>
							www.example.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
