<div class="section position-relative">
		<div class="hero-shape1"><img src="assets/img/slider/shape/shape1.png" alt="shape"></div>
		<div class="hero-shape2"><img src="assets/img/slider/shape/shape2.png" alt="shape"></div>
		<div class="hero-slider">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="hero-slide-content">
							<h2 class="title animated">Full Solution
								<br>for your
								<span class="text-decoration-underline">Business</span><br>Development</h2>
							<a class="btn btn-lg animated delay1 btn-dark btn-hover-dark me-4 mb-3 mb-sm-0" href="/about">Get Started</a>
							<a class="btn btn-lg animated delay2 btn-secondary btn-hover-secondary mb-3 mb-sm-0" href="/contact">Book a Meeting</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="hero-img scene mt-10 mt-lg-0" id="scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
							<div data-depth="0.2" style="transform: translate3d(44.3px, -18px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img class="animated" src="assets/img/slider/slide2.png" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
