<div class="testimonial-section section-py position-relative"><img class="tetimonial-shape" src="assets/img/testimonial/shape.png" alt=""><div class="container">
		<div class="row mb-n7">
			<div class="col-xl-7 col-lg-6 mb-7">
				<div class="testimonial-photo scene mt-10 mt-lg-0" id="scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
					<div data-depth="0.2" style="transform: translate3d(16.1px, -25.2px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img src="assets/img/testimonial/1.png" alt="Buznex"></div>
				</div>
			</div>
			<div class="col-xl-5 col-lg-6 mb-7">
				<div class="testimonial-wrap">
					<div class="title-section title-section">
						<span class="sub-title">TESTIMONIALS</span>
						<h3 class="title">Don’t Believe us Check
							<span class="text-primary">Clients</span>
							word</h3>
						<p class="undefined"></p>
					</div>
					<h5 class="happy-customer">More over
						<span class="font-weight-bold">2500</span>
						happy customer</h5>
				</div>
				<div class="testimonial-carousel position-relative">
					<div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
						<div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
							<div class="swiper-slide swiper-slide-active" style="width: 458px;">
								<div class="testimonial-slide-item swiper-slide">
									<span class="quote zmdi zmdi-quote"></span>
									<p class="testimonial-text mt-2 mb-5">Pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires maintain</p>
									<div class="avater d-flex">
										<div class="avater-profile"><img src="assets/img/testimonial/avater.png" alt="avater"></div>
										<div class="avater-info">
											<p>David Loyed</p>
											<span>CEO, Omex</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide swiper-slide-next" style="width: 458px;">
								<div class="testimonial-slide-item swiper-slide">
									<span class="quote zmdi zmdi-quote"></span>
									<p class="testimonial-text mt-2 mb-5">Pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires maintain</p>
									<div class="avater d-flex">
										<div class="avater-profile"><img src="assets/img/testimonial/avater.png" alt="avater"></div>
										<div class="avater-info">
											<p>John Loyed</p>
											<span>CEO, Omex</span>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 458px;">
								<div class="testimonial-slide-item swiper-slide">
									<span class="quote zmdi zmdi-quote"></span>
									<p class="testimonial-text mt-2 mb-5">Pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires maintain</p>
									<div class="avater d-flex">
										<div class="avater-profile"><img src="assets/img/testimonial/avater.png" alt="avater"></div>
										<div class="avater-info">
											<p>David Loyed</p>
											<span>CEO, Omex</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-button-prev swiper-button-disabled">
						<i class="icofont-rounded-left"></i>prev</div>
					<div class="swiper-button-next">Next<i class="icofont-rounded-right"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
