<div class="news-letter-section section-pb">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-xl-6 mx-auto">
				<div class="title-section title-section mb-10 text-center">
					<span class="sub-title">NEWSLETTER</span>
					<h3 class="title">Subscribe
						<span class="text-primary">Newsletter</span>
						&amp;
						<br class="d-none d-xl-block">get latest update...</h3>
					<p class="undefined"></p>
				</div>
			</div>
			<div class="col-xl-8 col-lg-10 mx-auto">
				<form class="news-letter-form d-flex"><input id="mc-email" class="form-control" type="email" placeholder="Enter Email here" name="mail"><button class="search-btn" type="submit">Subscribe</button>
				</form>
			</div>
		</div>
	</div>
</div>
