<div class="about-us position-relative">
	<div class="container">
		<div class="row mb-n7">
			<div class="col-xl-5 col-lg-6 mb-7">
				<div class="about-content">
					<div class="title-section title-section">
						<span class="sub-title">ABOUT US</span>
						<h3 class="title">Best
							<span class="text-primary">
								Digital Agency
							</span>
							<br classname="d-none d-xl-block">
							in the Town</h3>
						<p class="undefined"></p>
					</div>
					<span class="date-meta">Scince 2001
						<span class="hr"></span>
					</span>
					<p class="mb-5">Pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain</p>
					<p class="high-light mb-8">Pleasure rationally encounter consequences that are extremely painful. Nor again is there</p>
					<a class="btn btn-lg btn-dark btn-hover-dark" href="/about.html">Learn more</a>
				</div>
			</div>
			<div class="col-xl-6 order-first order-lg-last col-lg-6 mb-7 offset-xl-1">
				<div class="about-photo scene text-center text-lg-left" id="scene">
					<div ><img src="assets/img/about/1.png" alt="about"></div>
				</div>
			</div>
		</div>
	</div><img class="about-shape" src="assets/img/about/shape.png" alt="bg-shape"></div>
