<div class="team-section overflow-hidden section-pb">
	<div class="container position-relative">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="team-content-wrap">
					<div class="title-section title-section">
						<span class="sub-title">TEAM</span>
						<h3 class="title">People,
							<span class="text-primary">Behind</span>
							the Screen</h3>
						<p class="mb-5">Pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain</p>
					</div>
					<p class="high-light mb-8">Pleasure rationally encounter consequences that are extremely painful. Nor again is there</p>
					<a class="btn btn-lg btn-dark btn-hover-dark" href="/team">View more</a>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="new-team-members">
					<div class="new-team-members-list"><img src="assets/img/team/rounded-img1.png" alt="images"><h3 class="title">Cristopher Williams</h3>
						<span>Head of Idea</span>
					</div>
					<div class="new-team-members-list"><img src="assets/img/team/rounded-img2.png" alt="images"><h3 class="title">Rebeca Smith</h3>
						<span>Head of HR</span>
					</div>
					<div class="new-team-members-list"><img src="assets/img/team/rounded-img3.png" alt="images"><h3 class="title">Ricardo Powel</h3>
						<span>Head of Development</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
