<div class="blog-section section-pb">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-xl-3 col-lg-4">
				<div class="title-section title-section mb-lg-10 pb-lg-1">
					<span class="sub-title">BLOG POST</span>
					<h3 class="title mb-lg-0">Latest<span class="text-primary">Post</span>
						from Blog</h3>
				</div>
			</div>
			<div class="col-xl-5 col-lg-6">
				<div class="title-section pl-xl-5">
					<p class="mt-lg-10 pt-lg-3 mb-10 mb-lg-0">Pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain</p>
				</div>
			</div>
		</div>
		<div class="row mb-n7">
			<div class="col-lg-4 col-sm-6 mb-7">
				<div class="blog-card">
					<div class="thumb bg-light text-center null">
						<a href="/blog-details/1"><img src="/assets/img/blog/1.png" alt="img"></a>
					</div>
					<div class="blog-content">
						<a href="/author/adam">
							<span class="blog-meta author">Adam</span>
						</a>
						<span class="separator">-</span>
						<a href="/date/25-september-2021">
							<span class="blog-meta date">25 September, 2021</span>
						</a>
						<h3 class="title">
							<a href="/blog-details/1">Business Development Conferrence 2021</a>
						</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-7">
				<div class="blog-card">
					<div class="thumb bg-light text-center null">
						<a href="/blog-details/2"><img src="/assets/img/blog/2.png" alt="img"></a>
					</div>
					<div class="blog-content">
						<a href="/author/kristina">
							<span class="blog-meta author">Kristina</span>
						</a>
						<span class="separator">-</span>
						<a href="/date/20-september-2021">
							<span class="blog-meta date">20 September, 2021</span>
						</a>
						<h3 class="title">
							<a href="/blog-details/2">Game Development Conferrence 2021</a>
						</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mb-7">
				<div class="blog-card">
					<div class="thumb bg-light text-center null">
						<a href="/blog-details/3"><img src="/assets/img/blog/3.png" alt="img"></a>
					</div>
					<div class="blog-content">
						<a href="/author/ethan">
							<span class="blog-meta author">Ethan</span>
						</a>
						<span class="separator">-</span>
						<a href="/date/10-september-2021">
							<span class="blog-meta date">10 September, 2021</span>
						</a>
						<h3 class="title">
							<a href="/blog-details/3">Apps Development Conferrence 2021</a>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
