<div class="feature-section position-relative section-pb"><img class="path-img" src="assets/img/feature/shape.png" alt="images_not_found"><div class="container custom-container">
		<div class="row g-0 align-items-center">
			<div class="col-xl-6 col-lg-8 mx-auto mb-3 text-center">
				<div class="title-section title-section">
					<span class="sub-title">FEATURES</span>
					<h3 class="title">We are
						<span class="text-primary">different</span>
						because...</h3>
					<p class="mb-10">Pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain</p>
				</div>
				<a class="btn btn-lg btn-dark btn-hover-dark" href="/about">Get Started</a>
			</div>
			<div class="col-12">
				<div id="grid" class="grid row mb-n7">
					<div class="grid-item mb-7">
						<div class="feature-card bg-light">
							<span class="card-shape card-shape-light"></span>
							<span class="card-shape card-shape-dark"></span><img class="logo" src="assets/img/feature/logo/1.png" alt=" feature logo"><h4 class="title my-6">
								<a href="/service-details/1">Strong Security</a>
							</h4>
							<p>Pleasure rationally encounter are extremely painful anyone who loves or pursues</p>
						</div>
					</div>
					<div class="grid-item card-mt-75 mb-7">
						<div class="feature-card bg-light">
							<span class="card-shape card-shape-light"></span>
							<span class="card-shape card-shape-dark"></span><img class="logo" src="assets/img/feature/logo/2.png" alt=" feature logo"><h4 class="title my-6">
								<a href="/service-details/1">Creative Idea</a>
							</h4>
							<p>Pleasure rationally encounter are extremely painful anyone who loves or pursues</p>
						</div>
					</div>
					<div class="grid-item mb-7">
						<div class="feature-card bg-light">
							<span class="card-shape card-shape-light"></span>
							<span class="card-shape card-shape-dark"></span><img class="logo" src="assets/img/feature/logo/3.png" alt=" feature logo"><h4 class="title my-6">
								<a href="/service-details/1">Best Service</a>
							</h4>
							<p>Pleasure rationally encounter are extremely painful anyone who loves or pursues</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
