/*header */

.header-section {
	position: fixed;
	width: 100%;
	top: 0px;
	padding-top: 70px;
	@include max-screen(991) {
	  padding-top: 40px;
	}
	left: 0;
	z-index: 15;
  }

  .is-sticky {
	padding: 15px 0px;
	background: $white;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-animation: fadeInDown 0.5s ease-in-out;
	animation: fadeInDown 0.5s ease-in-out;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  }

  /* Main Menu */
  .main-menu {
	& ul {
	  & li {
		&:hover >,
		&.active > {
		  a {
			color: $primary;
		  }
		}
		position: relative;
		& + li {
		  margin-left: 60px;

		  @include max-screen(992, 1199) {
			margin-left: 40px;
		  }
		}
		& a {
		  font-family: "Metropolis Semi Bold";
		  line-height: 2.3;
		  color: $nav-color;
		  font-size: 20px;
		  @include max-screen(992, 1199) {
			font-size: 18px;
		  }
		  text-transform: capitalize;
		}
	  }
	}
  }
  .sub-menu {
	position: absolute;
	z-index: 9999;
	top: 100%;
	right: 0;
	@include min-screen(1200){
	  left: 0;
	}
	visibility: hidden;
	width: 230px;
	margin-top: 30px;
	margin-bottom: 0;
	padding: 18px 0;
	list-style: none;
	transition: all 0.4s ease 0.2s;
	opacity: 0;
	border-bottom: 4px solid $primary;
	background-color: #fff;
	box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);

	li {
	  & + li {
		margin-left: 0px !important;
	  }
	}
	.sub-menu-link {
	  font-family: "Metropolis Regular";
	  // @include min-screen(1200){
	  //   text-align: left;
	  // }
	  // text-align: right;
	  text-align: left;
	  font-size: 15px;
	  font-weight: 400;
	  line-height: 1.375;
	  display: block;
	  padding: 8px 30px;
	}
  }

  .main-menu {
	li {
	  &:hover {
		.sub-menu {
		  visibility: visible;
		  margin-top: 15px;
		  opacity: 1;
		}
	  }
	}
  }

