<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
    {% include "../includes/head.twig" %}
    </head>
<body>
    <!-- HEADER -->
    {% include "../includes/header.twig" %}

    <!-- MAIN -->
    <main>
		{% block content %}

		{% endblock %}
    </main>

    <!-- FOOTER -->
    {% include "../includes/footer.twig" %}

    <!-- SCRIPTS -->
    {% include "../includes/scripts.twig" %}

</body>
</html>
